body{
    margin: 0;
    padding: 0;
    background: url(welcome\ .jpeg)  no-repeat center center fixed;
    background-size: cover;

}
.flex{
    box-sizing: border-box;
    display: flex;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 20px;
    justify-content:space-between
}
.app{
    font-size:27px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10%;
    width: 100%;
    margin-left: 25%
}
.welcome{ 
    font-size: 40px;
    font-style: bold;
    padding-bottom: 5px;
    padding-left: 90px;
    font-family: 'Poppins', sans-serif;;
    margin-left: 30px
     
}
.username{
    margin-left: 70px;
    padding-left: 90px;
    font-family:'Manjari', sans-serif;
    font-size: 17px;


}
.team{
    padding-top: 15px;
    align-self: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    min-width: 200px;

    
}

@media only screen and (max-width: 600px ){
    .app{
        font-size: 15px;
        padding: 10px
    }
}


@media only screen and (max-width: 600px ){
    .team{
        font-size: 15px;
        padding:0
    }
}

@media only screen and (max-width: 600px ){
    .welcome{
        padding-left: 50px;
        font-size: 24px;
        padding-bottom: 5px
    
    }
}

@media only screen and (max-width: 600px ){
    .username{
        font-size: 9px;
        padding-left: 45px 
    }
}
@media only screen and (max-width: 600px ){
    body{
        background: url(welcome\ .jpeg)no-repeat center center fixed;

        background-size: cover
    }
}
@media only screen and (max-width: 600px ){
    .container{
     display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10%;
    width: 100%;
    margin-left: 15%
    }
}
/* @media only screen and (max-width: 992px ){
    .team{
        font-size: 15px;
        padding:0
    }
}
@media only screen and (max-width: 992px ){
    .team{
        font-size: 15px;
        padding:0
    }
}

@media only screen and (max-width: 992px ){
    .welcome{
        padding-left: 50px;
        font-size: 24px;
        padding-bottom: 5px
    
    }
}

@media only screen and (max-width: 992px ){
    .username{
        font-size: 9px;
        padding-left: 45px 
    }
}
@media only screen and (max-width: 992px ){
    body{
        background: url(welcome\ .jpeg)no-repeat center center fixed;

        background-size: cover
    }
}
@media only screen and (max-width: 992px ){
    .container{
     display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10%;
    width: 100%;
    margin-left: 15%
    }



 */
