body{
    background: url('images/astronomy-desktop-wallpaper-evening-1624438.jpg') no-repeat center center fixed ;
    background-size: cover;
    margin: 0;
}
nav{
    background-image: linear-gradient(135deg,#000000 0%,#7f8c8d 74%) 
}
.main-nav{
    display: flex;
    list-style: none;
    margin: 0;
    
}
@media only screen and (max-width: 600px ){
    .main-nav {
        font-size: 0.5em;
        padding:0
    }
    
}


li{
    padding: 20px;
    color: #41a3fe;
}
a{
    text-decoration: none;
    color: #FFF
}
.push{
    margin-left: auto
}


.login-container{
    position:absolute;
    top:30%;
    left:45%;
    margin-top:-50px;  
    margin-left:-100px;
    font-family: Poppins;
}
     
.login-container h1{
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    font-size: 32px;
}
.login-container input{
width: 300px;
height: 30px;
background: rgba(198, 210, 222, 0.55);
outline: none;
border-radius: 15px;
margin: 10px;
padding: 0 20px;
font-family: Georgia, 'Times New Roman', Times,sans-serif;
color: #FFF
    }
    
button{
    color: #000000;
    width:100px;
    background:  #256ecb;
    border-radius: 15px;
    text-align: center;
    margin: 50px 110px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
button:hover{
    cursor: pointer;
    background-color: azure;
    color: #000000
    
}
button:active{
    background: #7f8c8d;
}
a{
    color: #41a3fe;
    font-size: 15px

}
label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-left: 20px;
    margin-bottom: 10px

}

a:hover{
    color: #FFFFFF;
    text-decoration: #256ecb
}